.team-section {
    background-image: url('../../assets/djangogirls1.jpg');
    background-attachment: fixed;
    text-align: center;
    margin-top: 30px;
    background-position: center center;
    background-size: cover;

    .overlay {
        background: rgba(37, 32, 31, 0.8);
        padding-bottom: 40px;
    }

    .team-list {
        display: flex;
        justify-content: center;
        width: 80%;
        margin: auto;
        flex-wrap: wrap;
    }

    .section-title {
        font-size: 80px;
        color: white;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 10px;
        font-weight: 500;
    }

    .person-card {
        padding-bottom: 30px;
        width: 220px;
        height: 200px;
        margin-left: 20px;
        margin-right: 20px;
        .name {
            font-size: 26px;
            color: white;
            padding-top: 10px;
        }
        .company {
            font-size: 22px;
            color: #03a9f4;
        }
        .person-img {
            height: 140px;
            width: 140px;
            border-radius: 50%;
            margin: 0 auto;
            background-position: center center;
            background-size: cover;
        }
    }
}