<div class="hero-image" [style.backgroundImage]="'url(' + sectionBg + ')'">
    <div class="content-wrapper">
        <div class="jumbotron">
            <div class="hero-text">
                <img class="logo logo-big" src='../../../../assets/logo_big.png'>
                <img class="logo logo-name" src='../../../../assets/logo_name.png'>
                <div class="animated hiding" data-animation="fadeInDown" data-delay="500"></div>
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>