<app-hero-section [sectionBg]="(workshop$ | async)?.sectionBg">
  <p class="hero-description">
    {{(workshop$ | async)?.date}}, {{(workshop$ | async)?.city}}, {{(workshop$ | async)?.country}}
  </p>
  <button class="btn" *ngIf="(workshop$ | async)?.participantsFormLink as link" (click)="openLink(link)">
    APPLY FOR THE WORKSHOP
  </button>

  <button class="btn" *ngIf="(workshop$ | async)?.mentorsFormLink as link" (click)="openLink(link)">
    CALL FOR MENTORS
  </button>
</app-hero-section>

<div class="content-wrapper">
  <scully-content></scully-content>

  <app-mentors [mentors]="(workshop$ | async)?.mentors"></app-mentors>

  <app-partners [partners]="(workshop$ | async)?.partners" [sponsorsCallMail]="(workshop$ | async)?.sponsorsCallMail">
  </app-partners>

</div>

<app-patreon></app-patreon>