<app-hero-section [sectionBg]="'../../../../assets/eclipse.jpg'">
  <h3 class="upcoming-text">Upcoming events</h3>
  <ul>
    <li *ngFor="let event of events$ | async">
      <h3 class="workshop-link"><a [routerLink]="event.route">{{ event.title }}</a></h3>
    </li>
  </ul>
</app-hero-section>

<app-patreon></app-patreon>

<app-about-section></app-about-section>

<app-team-section [team]="organizers" [title]="'Organizing Team'"></app-team-section>

<app-partners-section [isDjangoLabelVisible]="true"></app-partners-section>